@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.siteWrapper {
  position: relative;
  visibility: initial;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  width: 100vw;
}
.resultsTitle {
  position: relative;
  font-weight: map-get($font-weight, semiBold);
  padding-left: 20px;
  border-left: 3px solid map-get($colors, primary);
  animation: slide-down 0.3s ease-out;
  z-index: -99;
}
.bottomSectionWrapper {
  overflow-x: scroll;
  z-index: 999;
  padding: 20px;
  text-align: left;
  background: map-get($colors, baseWhite);
  &::-webkit-scrollbar {
    display: none;
  }
  .listWrapper {
    padding: 0;
  }
}
.searchWrapper {
  background: #fff;
  z-index: 99;
}
.headerLogo {
  display: none;
  width: 100%;
  background: map-get($colors, baseWhite);
}
.locationBox,
.filterContainer {
  height: 50px;
  z-index: 999999;
  margin: 20px 0;
}

.specialText {
  color: map-get($colors, secondary);
  margin: 0 5px;
}

@media screen and (max-width: 720px) {
  .siteWrapper {
    width: 100vw;
    height: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
  }

  .resultsTableWrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    overflow-x: scroll;
    padding: 0;
    max-width: 100vw;
    .resultsTable {
      padding: 20px;
      overflow-x: auto;
    }
    .mapWrapper {
      width: 100%;
      position: relative;
    }
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
