.siteWrapper {
}
.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 5vh 5vw;
}
.resultsTitle {
  font-weight: 400;
  font-size: 1.7em;
  margin: 20px 20px 0;
  text-align: left;
  /* text-decoration: underline; */
}
.siteHeader {
  display: flex;
  align-items: flex-start;
  padding: 50px 10vw;
  background-color: rgb(235, 235, 235);
  .inputsWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 80px;
    * {
      margin: 0 5px;
    }
  }
}
.specialText {
  color: #3cb371;
  margin: 0 5px;
}

.TopLogoContainer {
  align-self: center;
  flex: 1;
}

.formFlex2 {
  flex: "2";
}
