$colors: (
  primary: #1f81c4,
  secondary: #44bba4,
  dark: #041b15,
  secondaryDark: #136f63,
  primaryLight: #84cae7,
  white: #fff,
  black: #222,
);
$border-radius: (
  small: 4px,
  regular: 10px,
  big: 30px,
  circle: 50%,
);
