$colors: (
  primary: #1f81c4,
  secondary: #44bba4,
  primaryGreen: #3cb371,
  dark: #041b15,
  secondaryDark: #136f63,
  primaryLight: #84cae7,
  baseWhite: #fff,
  baseBlack: #222,
);
$font-weight: (
  light: 300,
  regular: 500,
  semiBold: 600,
);
$font-size: (
  small: 0.8rem,
  regular: 1rem,
  big: 1.3rem,
);
$border-radius: (
  small: 4px,
  regular: 10px,
  big: 30px,
  circle: 50%,
);
