@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

a {
  text-decoration: none;
}
.button {
  @include flex();
  background: map-get($colors, primary);
  border: none;
  color: map-get($colors, baseWhite);
  border-radius: map-get($border-radius, small);
  font-size: map-get($font-size, small);
  font-weight: map-get($font-weight, semi-bold);
  padding: 10px 20px;
  cursor: pointer;
  opacity: 1;
  &Secondary {
    @extend .button;
    background: transparent;
    color: map-get($colors, baseBlack);
    border: 1px solid map-get($colors, baseBlack);
  }
}
