.button{
    background: #555;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size:.7em;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &Secondary{
        @extend .button;
        background: transparent;
        color: #222;
        border:1px solid #222
    }
}