.autocompleteDropdown {
  border-radius: 4px;
  padding: 0 12px;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
  position: absolute;
  width: 100%;
  background: #fff;
}
.suggestionItem {
  padding: 10px 0;
  background: #fff;
  text-align: center;
  &Active {
    @extend .suggestionItem;
    background: #dfecff;
    cursor: pointer;
  }
}
.inputWrapper {
  position: relative;
  height: 100%;
}
